.structure_container {
    height: 100vh;
    display: flex;
}

.structure_header{
    flex : 0.2;
    border-right: 1px solid lightgrey;
}

.structure_body {
    flex: 0.8;
    display: flex;
    overflow: scroll;
}

