.structure_container {
    height: stretch;
    display: flex;
    border: 1px solid lightgrey;
}

.structure_header {
    flex: 0.2;
    border-right: 1px solid lightgrey;
    overflow-y: hidden;
    overflow-x: scroll;
}

.structure_header_title {
    height: 50px;
    border-bottom: 1px solid lightgrey;
}

.structure_header_body {
    height: max-content;
}

.structure_body {
    flex: 0.8;
}

.summary_cell {
    min-height: 30px;
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;
}