<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="structure_container">
    <div id="structure_header" class="structure_header">
      <div class="structure_header_title">Summary</div>
      <div class="structure_header_body">
        <div *ngFor="let row of summaryRowConfig" class="summary_cell"></div>
      </div>
    </div>
    <div class="structure_body">
      <cdk-virtual-scroll-viewport id="structure_body" style="width:100%;height: 100%;" orientation="horizontal" itemSize="200" (scroll)="onScroll($event)">
        <app-strategy *cdkVirtualFor="let name of names" [name]="name" [summaryRowConfig]="summaryRowConfig">
        </app-strategy>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
<router-outlet></router-outlet>