<div class="strategy">
  <div class="strategy_header">
    <div class="strategy_summary_col_header">
      <span>Summary</span>
    </div>
    <div class="strategy_col_header">Leg1</div>
    <div class="strategy_col_header">Leg2</div>
  </div>
  <div class="strategy_body">
    <div class="strategy_summary_col">
      <div class="stragety_cell"></div>
      <div class="stragety_cell"></div>
      <div class="stragety_cell"></div>
    </div>
    <div class="strategy_col">
      <div class="stragety_cell"></div>
      <div class="stragety_cell"></div>
      <div class="stragety_cell"></div>
    </div>
    <div class="strategy_col">
      <div class="stragety_cell"></div>
      <div class="stragety_cell"></div>
      <div class="stragety_cell"></div>
    </div>
  </div>
</div>
