.strategy {
    min-width: 200px;
    border-right: 2px solid lightgrey;
    height: stretch;
    display: flex;
    flex-direction: column;
}

.strategy_header {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.strategy_header_name {
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.strategy_header_legs {
    display: flex;
    height: stretch;
}

.strategy_summary_col_header {
    width: 120px;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
}

.strategy_col_header{
    width: 100px;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
}

.strategy_col_header:last-child {
    border: 0px;
}

.strategy_body {
    flex : 1;
    display: flex;
    border-top: 1px solid lightgrey;
}

.strategy_summary_col {
    width: 120px;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
}

.strategy_col {
    width: 100px;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
}

.strategy_col:last-child {
    border: 0px;
}

.stragety_cell {
    min-height: 30px;
    border-bottom: 1px solid lightgrey;
}

