<div class="strategy">
  <div class="strategy_header">
    <div class="strategy_header_name">{{name}}</div>
    <div class="strategy_header_legs">
      <div class="strategy_summary_col_header" (click)="toggleSummary()">Summary</div>
      <ng-template [ngIf]="isExpanded">
        <div *ngFor="let leg of legs" class="strategy_col_header">{{leg}}</div>
      </ng-template>
    </div>
  </div>
  <div class="strategy_body">
    <div class="strategy_summary_col">
      <div *ngFor="let row of summaryRowConfig" class="stragety_cell"></div>
    </div>
    <ng-template [ngIf]="isExpanded">
      <div *ngFor="let leg of legs" class="strategy_col">
        <div *ngFor="let row of summaryRowConfig; let i = index" [attr.data-index]="i" (click)="cellClick(i)" class="stragety_cell"></div>
      </div>
    </ng-template>
  </div>
</div>