.strategy {
    min-width: 200px;
    border-right: 2px solid lightgrey;
    /* height: stretch; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.strategy:hover {
    cursor: default;
}

.strategy_header {
    height: 50px;
    display: flex;
    flex-direction: column;
}

.strategy_header_name {
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.strategy_header_legs {
    display: flex;
    height: stretch;
}

.strategy_header_legs>div:last-child {
    border: 0px;
}

.strategy_summary_col_header {
    width: 120px;
    flex: 1;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
    text-indent: 5px;
}

.strategy_col_header {
    width: 100px;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
    text-indent: 5px;
}

.strategy_col_header:last-child {
    border: 0px;
}

.strategy_body {
    flex: 1;
    display: flex;
    border-top: 1px solid lightgrey;
}

.strategy_summary_col {
    min-width: 120px;
    flex: 1;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
}

.strategy_body>div:last-child {
    border: 0px;
}

.strategy_col {
    width: 100px;
    border-right: 1px solid lightgrey;
    box-sizing: border-box;
}

.strategy_col:last-child {
    border: 0px;
}

.stragety_cell {
    min-height: 30px;
    border-bottom: 1px solid lightgrey;
}